<div class='not-found-cocktails'>
  <h3 class='not-found-cocktails__title' style='text-align: center'>
    Sorry, but we didn't find any favorite ingredients.
  </h3>
  <img
    class='not-found-cocktails__img'
    src='https://vokoloven.github.io/hardcore-bar/not-found-cocktails-svg.svg'
    alt='not-found-cocktails-img'
  />
</div>