<div class='not-found-cocktails'>
  <h3 class='not-found-cocktails__title'>
    Sorry, we didn't find any cocktail for you
  </h3>
  <img
    class='not-found-cocktails__img'
    src='/src/images/catalogue/Vampiro.jpg'
    alt='not-found-cocktails-img'
  />
</div>