<div class='not-found-cocktails'>
  <h3 class='not-found-cocktails__title'>
    Sorry, we didn't find any cocktail for you
  </h3>
  <img
    class='not-found-cocktails__img'
    src='http://localhost:1234/not-found-cocktails-svg.svg'
    alt='not-found-cocktails-img'
  />
</div>