<div class='not-found-cocktails'>
  <h3 class='not-found-cocktails__title'>
    Sorry, we didn't find any cocktail for you
  </h3>
  {{!-- <img
    class='not-found-cocktails__img'
<<<<<<< HEAD
    src='{{}}'
    alt='not-found-cocktails-img'
  /> --}}
</div>
=======
    src='./images/catalogue/Vampiro.jpg'
    alt='not-found-cocktails-img'
  />
</div>
>>>>>>> 386b354fadd397373ec956e998537876960a3b31
