<div class="backdrop-campari is-hidden" data-modal>
    <div class="modal-campari">
        <button type="button" class="campari-btn__close" data-modal-close>
            <svg class="campari-icon__close" width="32" height="32">
                <use href="./images/clarity_close-line.svg"></use>
            </svg></button>
        <h2 class="campari-title">Campari</h2>
        <h3 class="campari-title__min">Liqueur</h3>
        <p class="campari-text"><b class="campari-text__b">Campari </b>is an Italian alcoholic liqueur, considered an
            apéritif (20.5%, 21%,
            24%,
            25%, or
            28.5% ABV, depending
            on the
            country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and
            cascarilla)
            in
            alcohol and water. It is a bitters, characterised by its dark red colour.</p>
        <ul class="campari-list">
            <li class="list campari-list__item"><span class="campari-list__itemb">✶ </span>Type: Bitters</li>
            <li class="list campari-list__item"><span class="campari-list__itemb">✶ </span>Country of origin: Italy</li>
            <li class="list campari-list__item"><span class="campari-list__itemb">✶ </span>Alcohol by volume: 20.5–28.5%
            </li>
            <li class="list campari-list__item"><span class="campari-list__itemb">✶ </span>Flavour: Bitter, spicy and
                sweet</li>
        </ul>
        <button type="button" class="btn__orange">Add to favorite</button>
    </div>
</div>