<section class="catalogue container">
  <div class="catalogue__pattern">
    <h2 class="catalogue__title">Cocktails</h2>

    <ul class="catalogue__list list" data-modal-open></ul>

    <div class="backdrop is-hidden" data-modal></div>
  </div>
</section>

<!-- <div class="not-found-cocktails">
  <h3 class="not-found-cocktails__title">
    Sorry, we didn't find any cocktail for you
  </h3>
  <img
    class="not-found-cocktails__img"
    src="./images/catalogue/not-found-cocktails-svg.svg"
    alt="not-found-cocktails-img"
  />
</div> -->
