<section id="toTop" class="hero container">
  <ul class="hero__item">
    <li>
      <h1 class="hero__list">A party without cocktails is not like a party</h1>
    </li>
    <li>
      <h2 class="hero__search">Search your favorite cocktail by ABC</h2>
    </li>
  </ul>
  <picture>
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand1280_1x.png 1x,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand1280_2x.png 2x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand768_1x.png 1x,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand768_2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        /src/images/hero/delicious-sangria-cocktail-held-in-hand320_1x.png 1x,
        /src/images/hero/delicious-sangria-cocktail-held-in-hand320_2x.png 2x
      "
      media="(min-width: 320px)"
    />
    <img
      class="img__cocktail"
      src="/src/images/hero/delicious-sangria-cocktail-held-in-hand1280_1x.png"
      alt="cocktail"
    />
  </picture>
  <h2 class="hero__search-mobile">Search your favorite cocktail by ABC</h2>

  <!-- кастомный селект -->

  <button type="button" class="select__btn">
    <span class="select__current" data-value="A">A</span>
    <svg class="select__icon" width="13" height="8">
      <use href="/src/images/hero/symbol-defs.svg#icon-Vector"></use>
    </svg>
  </button>
  <div class="select__body is-hidden-hero">
    <div class="select__item" data-value="A">A</div>
    <div class="select__item" data-value="B">B</div>
    <div class="select__item" data-value="C">C</div>
    <div class="select__item" data-value="D">D</div>
    <div class="select__item" data-value="E">E</div>
    <div class="select__item" data-value="F">F</div>
    <div class="select__item" data-value="G">G</div>
    <div class="select__item" data-value="H">H</div>
    <div class="select__item" data-value="I">I</div>
    <div class="select__item" data-value="J">J</div>
    <div class="select__item" data-value="K">K</div>
    <div class="select__item" data-value="L">L</div>
    <div class="select__item" data-value="M">M</div>
    <div class="select__item" data-value="N">N</div>
    <div class="select__item" data-value="O">O</div>
    <div class="select__item" data-value="P">P</div>
    <div class="select__item" data-value="Q">Q</div>
    <div class="select__item" data-value="R">R</div>
    <div class="select__item" data-value="S">S</div>
    <div class="select__item" data-value="T">T</div>
    <div class="select__item" data-value="U">U</div>
    <div class="select__item" data-value="V">V</div>
    <div class="select__item" data-value="W">W</div>
    <div class="select__item" data-value="X">X</div>
    <div class="select__item" data-value="Y">Y</div>
    <div class="select__item" data-value="Z">Z</div>
    <div class="select__item" data-value=""></div>
    <div class="select__item" data-value="1">1</div>
    <div class="select__item" data-value="2">2</div>
    <div class="select__item" data-value="3">3</div>
    <div class="select__item" data-value="4">4</div>
    <div class="select__item" data-value="5">5</div>
    <div class="select__item" data-value="6">6</div>
    <div class="select__item" data-value="7">7</div>
    <div class="select__item" data-value="8">8</div>
    <div class="select__item" data-value="9">9</div>
    <div class="select__item" data-value="0">0</div>
  </div>
</section>
